
{% extends 'base.html' %}
{% block content %}
  <main>
    <div class="py-2 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
      <h2>日本語用自動参考文献ジェネレーター</h2>
      <p class="lead">任意の論文のCiNiiのurlを入力すると、フォーマットが完成します</p>
    </div>
    <div class="row g-5 justify-content-center ">
      <div class="col-md-7 col-lg-8">
        <form method="POST" action ="{{ url_for('.autoGenerate') }}">
        <h4 class="mb-3">参考文献</h4>
          <div class="row g-3">
            <fieldset>
            <div class="mb-3">
                 {{ ciniiform.hidden_tag() }}
                 {{ ciniiform.ciniiurl.label(for="ciniiurl", class="form-label") }}
                 <p class="text-break text-muted fs-6">https://cir.nii.ac.jp から始まるURLを入力する</p>
                 {{ ciniiform.ciniiurl(class="form-control", id="ciniiurl", placeholder="例）https://cir.nii.ac.jp/crid/0123456789012345678") }}
                 {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class=flashes>
                   {% for category, message in messages %}
                      <div class="{{ category }}">
                        <div class=" text-danger mt-1">{{ message }}</div>
                      </div>
                     </div>
                   {% endfor %}
                  {% endif %}
                 {% endwith %}
                 <p class="bg-info text-dark mt-1">{{ messages }}</p>
                 <hr class="mb-3">
           </div>
            </fieldset>
            <fieldset>
            <div class="d-flex justify-content-center">
                <button class="w-25 m-2 btn btn-primary btn-lg text-break" type="submit">結果を表示</button>
            </div>
            </fieldset>
         </div>
        </form>
            <div class ="resultArea mb-3">
                <h5 class="mr-2 mt-3">結果</h5>
                <blockquote class="w-100 d-flex justify-content-center text-break p-3" style = "background-color: hsl(0, 0%, 95%);">
                {% if result %}
                <div id="formtargetResultTextarea" name="formtargetResultTextarea">{{ result }}</div>
                {% else %}
                <div id ="exampleFormControlTextarea1" class= "text-muted">例） 参考ひかる. (2022). 参考文献表現における普遍性. ○○学会. <i>○○研究</i>, 11(7), 12-23. http://doi.org/10.12345/jasca.2022.11_1223</div>
                {% endif %}
                </blockquote>
                <div class ="d-flex justify-content-end">
                  <button id="result_copy_button" class="w-25 btn btn-secondary btn-sm" style = "vertical-align: middle;">
                      <i class="bi-clipboard" id="copyicon"></i>
                      <span id="copyiconAppendedText">コピーする</span>
                  </button>
                </div>
            </div>
          
            <div class="howtouseSection my-4">
            <hr class="my-xl-5">
            <h4>使い方</h4>
                <p class="mt-3">1.<a href="https://cir.nii.ac.jp/articles" target="_blank" rel="noopener noreferrer">https://cir.nii.ac.jp/articles <i class="bi bi-arrow-up-right-square" style="font-size: 8px;"></i></a>へアクセスする</p>
                <img class="img-fluid mb-3" src="static\image\cinii1.png" alt="画像例1">
                <p class="text-break"><i class="bi bi-question-circle"></i>CiNiiとは<P>論文、図書・雑誌や博士論文などの学術情報で検索できるデータベース・サービスで、誰でも使用することができます。</p></p>
                <p class="mt-3">2.任意の論文を検索する</p>
                <img class="img-fluid mb-3" src="static\image\cinii2.png" alt="画像例2">
                <p class="mt-3">3.任意の論文をクリックする</p>
                <img class="img-fluid mb-3" src="static\image\cinii3.png" alt="画像例3">
                <p class="mt-3">4.論文のページでURLをコピーする<span class="text-muted"> ※画像参照</span></p>
                <img class="img-fluid mb-3" src="static\image\cinii4.png" alt="画像例4">
                <p class="mt-3">5.コピーしたURLをこのサイトの入力欄にペーストする</p>
                <ul class ="list-group to-cinii-page mt-1">
                  <li class="list-group-item mb-1 text-center">
                    <div>CiNiiで論文を探してみる</div>
                    <a href="https://cir.nii.ac.jp/articles" target="_blank" rel="noopener noreferrer">https://cir.nii.ac.jp/articles<i class="bi bi-arrow-up-right-square" style="font-size: 8px;"></i></a>
                  </li>
                </ul>
            </div>
      </div>
    </div>
  </main>
  <script src="static\js\auto_form.js" charset="utf-8"></script>
{% endblock content %}
<!-- 
  CSSでの文字消す https://www.casleyconsulting.co.jp/blog/engineer/220/
-->