{% extends 'base.html' %}
{% block content %}
  <main class="py-2 text-center">
    <h1>APAスタイル参考文献フォーマット</h1>
    <p class="lead">必要な情報をテンプレートに入力すると、APAの参考文献の形式が完成します</p>
    
    <div class="row justify-content-center">
      <form method='POST' >
        <a href="{{ url_for('bp_autoform.createAutoTemplates') }}" class="w-25 m-3 btn btn-primary btn-lg" >自動入力する</a>
      </form>
      <form method='POST'>
        <a href="{{ url_for('bp_manuform.createManualTemplates') }}" class="w-25 m-3 btn btn-primary btn-lg">手動入力する</a>
      </form>
      <p class="mt-4 text-break">APAスタイル7thに準拠した、参考文献を出力するフォーマットです</p>
      <p class="text-break">自動または手動の方法で、複雑な引用からの時間を減らします</p>
      <p class="mt-3 text-break text-muted">随時アップデートしていきます 最終更新日...2023年1月</p>
    </div>
  </main>
{% endblock %}